<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %-50logger - %msg [%t]%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="de.amr.routeplanner.graph.search.SearchNodePQ"
			level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="de.amr.routeplanner.graph.search.ShortesPathFinder"
			level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="de.amr.routeplanner.model.RoadMapPathFinder"
			level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>